/*body {*/
/*background: url("../img/largeWorldMap.jpg") no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover;*/
/*}*/


html, body {
    height: 100%;
}

div.wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

div.wrap > div {
    position: absolute;
    height: 100%;
    width: 100%;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    background-image: url("../img/largeWorldMap.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}

div.wrap:hover {
    cursor: -webkit-zoom-in;
}


div.wrap:active > div {
    -moz-transform: scale(2, 2);
    -webkit-transform: scale(4, 4);
    transform: scale(2, 2);

}
